.user-amiibo-collection-container{
    background-image: url("../Images/Shelf.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}