.header {
    background-color: red;
    height: 150px;
    position: sticky; top: 0;
}

h1 {
    margin-top: 0%;
    margin-bottom: 0%;
    color: white;
    font-size: 64px;
    padding-top: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}

.nav {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.nav-button {
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 43px;
    width: 189px;
    background: red;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-link {
    text-decoration: none;
}